body {
  font-size: 26px;
  font-family: 'Proxima Nova', sans-serif;
  background-color: #e2e2e2;
}

/** HEADER **/
#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/Logo.png); no-repeat;
  width: 79px;
  height: 49px;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

#nav-list {
  margin: 66px 60px 40px 60px;
}

#nav-list a {
  text-align: center;
  color: #2d2c2c;
  background: #fff;
  transition: background 0.4s ease-in-out;
}

#nav-list a:hover {
  background: #a8fcb8;
}

#nav-list a span {
  font-size: 26px;

}

/*** Style the icon-bar in mobile view with x animation***/
.navbar-default .navbar-toggle {
  clear:  both;
  margin-top: -58px;
  border: none;
  background: transparent !important;
}


.navbar-toggle .icon-bar {
  background-color: #605d5d;
  width: 44px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
}

/* state before animation*/
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {

  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url(../images/LogoMobile.png); no-repeat;
    width: 51px;
    height: 32px;
    margin: 20px;
  }

  #nav-list {
    margin: 0px;
  }
  #nav-list a span {
    font-size: 20px;
  }
}
