@font-face {
  font-family: myProxima;
  src: url(../fonts/Mark Simonson - Proxima Nova Alt Extra Condensed Regular.otf);
}

@font-face {
  font-family: myReporter;
  src: url(../fonts/ReporterLTStd-2.otf);
}

body {
  font-size: 36px;
  font-family: myProxima, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/Logo.png); no-repeat;
  width: 79px;
  height: 49px;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

#nav-list {
  margin: 66px 60px 40px 60px;
}

#nav-list a {
  text-align: center;
  color: #2d2c2c;
  background: #fff;
  transition: background 0.4s ease-in-out;
}

#nav-list a:hover {
  background: #d1ffd9;
}

#nav-list a span {
  font-size: 26px;

}

/*** Style the icon-bar in mobile view with x animation***/
.navbar-default .navbar-toggle {
  clear:  both;
  margin-top: -58px;
  border: none;
  background: transparent !important;
}


.navbar-toggle .icon-bar {
  background-color: #605d5d;
  width: 44px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
}

/* state before animation*/
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

#myCarousel {
  margin-top: -20px;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #e2e2e2;
}

.carousel-control.left, .carousel-control.right {
  background: transparent;
}

.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control {
  visibility: visible;
}

.carousel-control .icon-prev,
.carousel-control .icon-next  {
  display: block;
  font-size: 100px;
  font-weight: normal;
  margin-top: -70px;
  text-align: center;
}

.carousel-inner>.item{
   /*disables white flash*/
   -webkit-transition: -webkit-transform .5s ease-in-out;
   -o-transition: -o-transform .5s ease-in-out;
   transition: transform .5s ease-in-out;
}

#skill {

  margin-top: 0px;
  text-align: center;
  background-image: url(../images/skill.png); /*hier richtiges bild einfügen*/
  background-size: cover;

}

h2 {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: myReporter, myProxima, sans-serif;
  font-size: 60px;
  color: #2e2e2e;
}

.img-responsive, .myImg {
  margin: 0 auto;
}

.row, .myRow {
  margin: 0 100px 50px;
}


/** styles for contact tile **/

#contact {

  background-image: url(../images/contact.png);
  text-align: center;
  background-size: cover;
}

.home-footer a:hover {
  transform: scale(1.4);
  color: #f15a24;
}

.home-footer a {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #2b2b2b;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  margin-bottom: 60px;
  font-size: 48px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  h2 {

    margin-bottom: 60px;
  }

  /** add smaller logos **/


 }

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url(../images/LogoMobile.png); no-repeat;
    width: 51px;
    height: 32px;
    margin: 20px;
  }

  #nav-list {
    margin: 0px;
  }

  #nav-list a span {
    font-size: 20px;
  }

  .carousel-control {
    display: none;
  }

  h2 {
    font-family: myReporter, myProxima, sans-serif;
    font-size: 0.7em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row, .myRow {
    margin: 0 40px 20px;
  }

  .home-footer a {
    font-size: 0.58em;
    margin-bottom: 20px;
  }



}
